/* Media Queries for Mobile */
@media only screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .ptext {
    font-size: 20px;
  }
  .section {
    padding: 30px 10px;
  }
  .section img {
    width: 80px;
  }
}
