html,
body {
  height: 100%;
  margin: 0;
  font-size: 20px;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.pimg1 {
  background-image: url("image/bg1.jpg");
  min-height: 100%;
}
.pimg2 {
  background-image: url("image/bg2.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("image/bg3.jpg");
  min-height: 400px;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.textbg {
  background-color: #0000008a;
  color: white;
  padding: 20px;
}
.section {
  padding: 50px 80px;
  text-align: center;
}
.section img {
  width: 155px;
  padding: 12px;
  height: auto;
  animation-name: mohit3;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
@keyframes mohit3 {
  0% {
    transform: translateX(200%);
    opacity: 2;
  }
  100% {
    transform: translateX(-0%);
    opacity: 1;
  }
}

.section-light {
  background-color: #ede7e7;
  color: black;
}
.section-dark {
  background-color: white;
  color: black;
}
